.button {
  opacity: 0.3;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-size: xx-large;
  cursor: pointer;
  background-color: rgb(255, 64, 64);
  background: transparent;
}
.button:hover {
  opacity: 0.8;
}
.prev {
  left: 1rem;
}
.next {
  right: 1rem;
}
.main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
